@import url("@fontsource/parisienne");
@import url("@fontsource/cormorant-garamond/700.css");
@import "@fontsource/zalando-sans-semiexpanded";
@import "@fontsource/ubuntu/400.css";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  background-image: url("./assets/paper.jpg");
}

.nav-bar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  margin-top: 1rem;
}

.logo {
  display: flex;
  margin-left: 1rem;
}

.logo img {
  height: 3.8rem;
  margin-top: 0.3rem;
  cursor: pointer;
}

.logo h1 {
  padding-top: min(1em, 20%);
  font-size: 1.7rem;
  font-family: "Parisienne";
  color: #000000;
  cursor: pointer;
}

.search-container {
  margin-top: 1.1rem;
  width: 25rem;
  position: relative;
}

.search {
  margin-top: 0.8rem;
  display: flex;
  align-items: center;
  padding: 0.4rem 0.6rem;
  border: 1px solid black;
  border-radius: 0.3rem;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.search:hover {
  border-color: #4caf50;
}

.search:has(input:focus) {
  border-color: #4caf50;
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.6);
}

.search input {
  flex: 1;
  color: black;
  font-family: "Cormorant Garamond";
  font-size: 1.2rem;
  border: none;
  outline: transparent;
  background-color: transparent;
}

.search input::placeholder {
  color: rgb(0, 0, 0);
}

.search-icon {
  cursor: pointer;
  font-size: 0.8rem;
  color: black;
}

.search-results {
  position: absolute;
  width: 100%;
  overflow-y: auto;
  list-style: none;
  background-color: #212121;
  height: 20rem;
  border-radius: 0.3rem;
  scrollbar-width: thin;
  scrollbar-color: white transparent;
}
.fa-plus-circle,
.fa-plus-circle::before {
  font-size: 1.2rem;
}

.loader {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  color: aliceblue;
}

.error {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(255, 0, 0);
}

.search-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1rem;
  padding: 0.3rem;
  border: 1px solid rgba(76, 175, 80, 0.6);
}

.book-cover {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.name-book {
  color: white;
  font-family: "Cormorant Garamond";
  font-size: 1.1rem;
}

.author {
  color: #d6e22c;
  font-family: "Smooch Sans";
  font-size: 0.9rem;
  font-style: italic;
}

.year {
  color: #c88f1e;
  font-family: "Cormorant Garamond";
  font-size: 0.9rem;
  font-weight: 400;
}

.fa-plus-circle {
  cursor: pointer;
  color: #4caf50;
  font-size: 1.4rem;
}

.btn-big {
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: Helvetica;
  transition: all 0.3s ease;
  margin-bottom: 3rem;
}

.btn-green {
  background-color: #4caf50;
  color: #000000;
}
.btn-green:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.764);
}

.hero {
  display: flex;

  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80dvh;
  text-align: center;
}

.hero p {
  font-size: 1.5rem;
  font-family: "Cormorant Garamond";
  padding-right: 2.6rem;
}

.hero-title {
  margin-top: 3rem;
  font-size: 3rem;
  font-family: "Zalando Sans SemiExpanded";
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.hero-img {
  height: 8rem;
}

.hero-maintext {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.main-container {
  display: grid;
  place-items: center;
  height: 85dvh;
  display: none;
}

.selection {
  background-color: rgba(98, 93, 93, 0.371);
  height: 40rem;
  width: 40rem;
  border-radius: 1rem;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: repeat(3, auto);
  padding-top: 5rem;
  padding-bottom: 2rem;
  gap: 1rem;
  display: none;
}

.books {
  margin-top: 2.2rem;
  display: flex;
  gap: 3rem;
}

.selected-cover {
  height: 10rem;
  width: 8rem;
  border-radius: 0.2rem;
  padding: 0.3rem;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.cover-wrapper {
  height: 10rem;
  width: 8rem;
  border-radius: 0.2rem;
  position: relative;
}

.cover-wrapper::after,
.cover-wrapper::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    #000000,
    #333333,
    #ffffff,
    #333333,
    #000000
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;

  border-radius: 0.2rem;
  animation: 3s spin linear infinite;
}

.cover-wrapper::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.book {
  cursor: pointer;
  width: 8rem;
}

.selection-text {
  font-family: "Ubuntu";
}

.book p {
  font-family: "Cormorant Garamond";
  text-align: center;
  font-size: 1.2rem;
}

.chat-box {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  height: 40rem;
  width: 40rem;
  background-color: #303030;
  border-radius: 1rem;

  overflow: hidden;
}

.messages {
  flex: 1;
  padding: 0.8rem;
  list-style: none;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.ai-message,
.user-message {
  max-width: 70%;
  padding: 0.6rem 0.94rem;
  border-radius: 1.5rem;
  word-wrap: break-word;
  line-height: 1.4;
}

.input-container {
  padding: 1rem;
  align-self: center;
  background-color: #303030;
  padding-bottom: 2rem;
}

.chat-item {
  width: 30rem;
  display: flex;
  align-items: center;
  padding: 0.4rem 0.6rem;
  border-radius: 1rem;

  background-color: white;
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}

.chat-item:has(textarea:focus) {
  transform: translateY(-4px);
}

.input-container textarea {
  flex: 1;
  padding-top: 0.7rem;
  border: none;
  outline: none;
  resize: none;
  font-size: 0.9rem;
  margin-right: 1rem;
  background-color: transparent;
  max-height: 8rem;
}

.input-container textarea::placeholder {
  color: #000000;
}

.chat-icon {
  cursor: pointer;
  font-size: 1.1rem;
  color: black;
  padding-right: 2rem;
  padding-top: 0.2rem;
}

.ai-message {
  background-color: #e0e0e0;
  align-self: flex-start;
  border-bottom-left-radius: 0;
}

.user-message {
  background-color: #4f93ff;
  color: white;
  align-self: flex-end;
  border-bottom-right-radius: 0;
}
